.tx-abavo-search{}

	.search-form{}
		.search-form .search-word{ height:auto; width:168px; padding: 3px 5px 2px; margin: 0; background: #fff; border: 1px solid #bbbbbb; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
		.search-form .search-submit-button{ cursor:pointer; }
		.ui-autocomplete{ border: 1px solid #aaaaaa; background: #ffffff; color: #222222; position: absolute;}
		.ui-autocomplete .ui-menu-item{ color: #222222; position: relative; margin: 0; padding: 3px 1em 3px .4em; cursor: pointer; min-height: 0; }
		.ui-autocomplete .ui-menu-item:hover{ background:#7BBA00; color:#fff; }
		.ui-helper-hidden-accessible{ display:none; }
		
	#search-results{}
	
		.message-box {font-size: 12px; line-height: 20px; margin-top:8px;}
		.alternative-words .icon-spin4.animate-spin { font-size:1.5em; }
		.alternative-words h3{ margin:5px 0px;}
		.alternative-words .word-list{ margin:10px 0px;}
		.alternative-words .alt-word {cursor:pointer; line-height:22px; display:inline-block; margin-right:10px; color:#ffffff; border-bottom: 1px solid #59822c; background-image: linear-gradient(#7BBA00, #75b100 60%, #679c01); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 0px 5px; box-shadow: 1px 1px 4px #999;}
		.alternative-words .licence a, .alternative-words .licence a:hover,
		.alternative-words .licence {text-align:right; font-size:10px; }
		.alternative-words .licence {display:none; margin:10px 0px 0px;}
		
		.result{ padding:10px 0 10px 0; position:relative;}
			.result .result-nr{ font-size:11px;}
			.result .result-title,
			.result .result-title a{ font-weight: bold; font-size:14px; line-height:18px;}
			
			.result .content{ padding:5px 0px 5px 20px; min-height:20px; line-height: 18px; }
			
			.result .scoreBar { position: absolute; top:15px; right:0px; width:65px; height:6px; display:block; border:1px solid #D3D3D3; text-align:center; }
				.result .scoreBar .score { position:absolute; left:0px; top:0px; height:6px; background-color:#7BBA00; border-right:1px solid #D3D3D3; display:block; }
			
			.result .search-hit { font-weight: 700; }
			.result .search-hit.synonym { font-style:italic; }
			
			.result .url{ font-size:11px; line-height:20px; font-style:italic; opacity: 0.7; filter: alpha(opacity=7); background:#eaeaea;}
			.result .icon-newspaper:before{ margin-right: 0.5em;}
			
		.advanced-form{ border: 1px dotted #cfcfcf; padding: 10px; margin: 10px 0px 10px 0px; position:relative;}
		.advanced-form legend{ font-weight: bold; font-style: italic;}
			.advanced-form label {cursor:pointer;}
			.facte-group{ float:left; width:100%; display:block; margin-bottom: 5px;}
			.facet-group-title{}
			.facet-group-items{}
			.facet-item{ float:left; margin-right: 20px; line-height:30px;}
			.facet-check{ bottom: -2px; position: relative;}
			.advanced-form hr{margin:14px 0px; bottom: -2px; position: relative;}
			.advanced-form .righttop-wrap{ position:absolute; top:15px; right:15px; }
			.advanced-form #checkall{ display:none; }
			.advanced-form #checkall-label,.advanced-form #checkall-label:hover{ text-decoration: underline; line-height: 20px;}
			.advanced-form .left-wrap{ float:left; margin-right: 15px;}
			.advanced-form .right-wrap{float:right; margin-left: 5px;}

		#search-results .odd{ border-bottom:1px solid #cfcfcf;}
		#search-results .even{}
		#search-results .first{}
		#search-results .last{ border:none;}
		
		.pagination{ border-top:1px solid #cfcfcf; margin:10px 0 0 0; padding:10px;}
			.pagination i{line-height:22px;}
			.pagination a{ margin:0 5px 7px 0; display: inline-block; line-height:22px; font-size:14px; padding: 0px 7px; border-bottom: 1px solid #999; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; box-shadow: 1px 1px 4px #999;}
			.pagination .first{}
			.pagination .prev{}
			.pagination a:hover,
			.pagination .active{ color:#ffffff; border-bottom: 1px solid #59822c; background-image: linear-gradient(#7BBA00, #75b100 60%, #679c01); }
			.pagination .next{}
			.pagination .last{}
			
		.queryTime{font-size:11px; text-align: right; line-height:18px;}
		
		.tx-abavo-search .typo3-messages { padding:0 0 15px 0; margin:10px 0px; }
		.tx-abavo-search .typo3-messages .typo3-message{ padding:10px 4px 10px 10px; border: 1px solid #c2cbcf; margin-bottom: 4px;}
		.tx-abavo-search .typo3-messages .message-ok{ background:#cdeaca; border-color: #58b548; color: #3b7826; }
		.tx-abavo-search .typo3-messages .message-error{ background: #f6d3cf; border-color: #d66c68; color: #aa0225; }
		.tx-abavo-search .typo3-messages .message-information {}
		.tx-abavo-search .typo3-messages .message-header{ font-weight: bold; margin-bottom:3px; }
		.tx-abavo-search .typo3-messages .message-body{}
		
	.tx-abavo-search-highlight{ color:red;}
		